body{
	margin: 0;
	font-family: 'Alegreya', serif;
}

body a{
	text-decoration: none;
	color: black;
}

::-webkit-scrollbar {
    width: 0px;
}

.wrapper{
	display: flex;
	flex-flow: column;
	align-items: center;
	min-height: 100vh;
	width: 100%;
	min-width: 480px;
}

.content-inner{
	width: 62.5rem;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
}

.groups-inner{
	display: flex;
	flex-flow: column;
}

.group{
	margin: 0.625rem;
	box-shadow: 0 0 1px black;
}

.group a{
	display: block;
	width: 12rem;
	text-align: center;
	line-height: 2.625rem;
	font-size: 2rem;
}

.group-a-active{
	transition: .25s;
}

.group-a-active:hover{
	box-shadow: 0 0.625rem 0.625rem black;
	transition: .25s;
}

.goods-inner{
	display: flex;
	flex-flow: column;
}

.good-inner{
	display: flex;
	flex-flow: column;
	width: 45.625rem;
	border: black solid 1px;
	padding: 0.625rem;
	margin: 0.625rem;
}

.good-name{
	font-size: 2rem;
}

.good-params{
	width: 100%;
}

.good-params-inner{
	display: flex;
	flex-flow: row;
	height: 3rem;
	justify-content: space-around;
	align-items: center;
}

.good-quantity{
	font-size: 1.2rem;
}

.good-price{
	font-size: 1.8rem;
}

.good-addBasket{
	box-shadow: 0 0 1px black;
}

.good-addBasket-active{
	transition: .25s;
}

.good-addBasket-active:hover{
	transition: .25s;
	box-shadow: 0 0.625rem 0.625rem black;
}

.good-addBasket a{
	display: block;
	width: 8rem;
	text-align: center;
	line-height: 2.125rem;
	font-size: 1.5rem;
}

.basket-inner{
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
	display: flex;
	flex-flow: column;
	align-items: center;
	position: relative;
	width: 62.5rem;
	box-shadow: 0 -1px 1px rgba(0,0,0,.4);
}

.basket-header{
	font-size: 2rem;
}

.basket-empty{
	z-index: -1;
	position: absolute;
	font-size: 1.5rem;
	top: 5.5rem;
}

.basket-item-inner{
	display: flex;
	flex-flow: column;
	width: 45.625rem;
	border: black solid 1px;
	margin: 0.625rem;
	padding: 0.625rem;
	background-color: white;
}

.basket-item-name{
	font-size: 2rem;
	width: 100%;
	text-align: center;
}

.basket-item-params-inner{
	display: flex;
	flex-flow: row;
	height: 3rem;
	align-items: center;
	justify-content: center;
}

.basket-item-price{
	font-size: 1.8rem;
	margin-right: 0.625rem;
}

.remove-basket-item{
	box-shadow: 0 0 1px black;
	margin-left: 0.625rem;
}

.remove-basket-item-active{
	transition: .25s;
}

.remove-basket-item-active:hover{
	transition: .25s;
	box-shadow: 0 0.625rem 0.625rem black;
}

.remove-basket-item a{
	display: block;
	width: 8rem;
	text-align: center;
	line-height: 2.125rem;
	font-size: 1.5rem;
}

@media screen and (min-width:1020px){
	:root{
		font-size: 1rem;
	}
}

@media screen and (max-width:1020px){
	:root{
		font-size: .7rem;
	}
}

@media screen and (max-width:725px){
	:root{
		font-size: .45rem;
	}
}