body{
	margin: 0px;
}

::-webkit-scrollbar {
    width: 0px;
}

.content{
	position: absolute;
	height: 100%;
	width: 100%;
}

.content-inner{
	position: relative;
	height: 100%;
	width: 100%;
}

#start-button{
	width: 200px;
	height: 60px;
	border:black solid 3px;
	border-bottom: black solid 8px;
	border-radius: 15px;
	font-size: 18pt;
	font-family: Verdana;
	background-color: white;
	outline: none;
	position: absolute;
	left: 300px;
	display: none;
}



#start-button:hover{
	cursor: pointer;
}

.block{
	background-color: black;
	width: 150px;
	height: 150px;
	position: absolute;
	opacity: 0;
}