body{
	margin:0;
	background-color: rgba(0,0,0,0.9);
}

::-webkit-scrollbar {
    width: 0px;
}

.wrapper{
	display: flex;
	flex-flow: column;
	height: 100vh;
	width: 100%;
	min-width: 920px;
	justify-content: center;
	align-items: center;
}

.header{
	color: white;
	padding: 2rem;
	font-family: sans-serif;
	font-size: 1.5rem;
	width: 100%;
	text-align: center;
}

#invisible-block{
	width: 300px;
	height: 300px;
	position: absolute;
	z-index: -1;
	left: 320px;
}

.block{
	height: 300px;
	width: 620px;
	position: relative;
}

.shadowBlock{
	box-shadow: 0 5px 15px white;
	transition: .5s;
}

.puzzle{
	position: absolute;
	height: 100px;
	width: 100px;
	box-shadow: 0 0 1px white;
	z-index: 1;
}

.puzzle:hover{
	box-shadow: 0 0 10px white;
	cursor: pointer;
	z-index: 2;
}

#p-2{
	left: 100px;
}

#p-3{
	left: 200px;
}

#p-4{
	top: 100px;
}

#p-5{
	top: 100px;
	left: 100px;
}

#p-6{
	top: 100px;
	left: 200px;
}

#p-7{
	top: 200px;
}

#p-8{
	top: 200px;
	left: 100px;
}

#p-9{
	top: 200px;
	left: 200px;
}

.area{
	position: absolute;
	height: 100px;
	width: 100px;
	box-shadow: 0 0 1px white;
}

#a-1{
	left: 320px;
}

#a-2{
	left: 420px;
}

#a-3{
	left: 520px;
}

#a-4{
	top: 100px;
	left: 320px;
}

#a-5{
	top: 100px;
	left: 420px;
}

#a-6{
	top: 100px;
	left: 520px;
}

#a-7{
	top: 200px;
	left: 320px;
}

#a-8{
	top: 200px;
	left: 420px;
}

#a-9{
	top: 200px;
	left: 520px;
}
