body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

option{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.label-input-field{
    width: 120px;
    display: inline-block;
}

.input-field{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    width: 200px;
    height: 30px;
    border: black solid 1px;
    border-bottom: black solid 3px;
    padding: 5px;
    border-radius: 10px;
    outline: 0;
}

.input-field:hover{
    background-color: rgba(79, 195, 247,.5);
    transition: 1s;
}

.Error{
    padding: 5px;
    position: absolute;
    width: 250px;
    background-color: #d84315;
    border-radius: 5px;
    display: none;
    margin-left: 10px;
}

#lang-error{
    margin-top: 80px;
}

#job-error{
    margin-top: 35px;
}

.select-country-menu{
    width: 210px;
    height: 40px;
    border: black solid 1px;
    border-bottom: black solid 3px;
    padding: 5px;
    border-radius: 10px;
    outline: 0;
}

.select-country-menu:hover{
    background-color: rgba(79, 195, 247,.5);
    transition: 1s;
    cursor: pointer;
}

.label-lang{
    padding: 5px;
    position: absolute;
    margin-top: 80px;
}

.checkboxes-lang{
    display: inline-block;
    margin-left: 125px;
    border: black solid 1px;
    border-bottom: black solid 3px;
    width: 200px;
    border-radius: 10px;
    padding: 5px;
}

.checkboxes-lang:hover{
    background-color: rgba(79, 195, 247,.5);
    transition: 1s;
}

.checkboxes-lang input:hover{
    cursor: pointer;
}

.checkboxes-lang label:hover{
    cursor: pointer;
}

.input-checkbox{
    width: 30px;
    height: 30px;
}

.label-input-checkbox{
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}

.label-job{
    padding: 5px;
    position: absolute;
    margin-top: 25px;
}

.select-job{
    margin-left: 125px;
    display: inline-block;
    border: black solid 1px;
    border-bottom: black solid 3px;
    width: 210px;
    border-radius: 5px;
    padding: 5px;
    outline: 0;
}

.select-job:hover{
    background-color: rgba(79, 195, 247,.5);
    transition: 1s;
    cursor: pointer;
}

.label-textarea{
    padding: 5px;
    position: absolute;
    margin-top: 25px;
}

.textarea{
    margin-left: 125px;
    border: black solid 1px;
    border-bottom: black solid 3px;
    width: 200px;
    border-radius: 10px;
    padding: 5px;
    outline: 0;
}

.textarea:hover{
    background-color: rgba(79, 195, 247,.5);
    transition: 1s;
}

.button{
    width: 110px;
    height: 30px;
    margin:10px;
    padding: 5px;
    background-color: #ffffff;
    border: black solid 1px;
    border-bottom: black solid 3px;;
    border-radius: 10px;
    outline: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.button:hover{
    background-color: rgba(79, 195, 247,.5);
    transition: 1s;
    cursor: pointer;
}

.button-block{
    margin-left: 100px;
}
