body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15;
}

.date-time-block-inner{
    padding: 10px;
    width: 470px;
    margin: auto;
    border: black solid 1px;
    border-bottom: black solid 3px;
    border-radius: 10px;
}

.date-time-block{
    padding: 10px;
}

.date-time-block-inner:hover{
    background-color: rgba(79, 195, 247,.5);
    transition: 1s;
}

.browser-info-block-inner{
    padding: 10px;
    width: 470px;
    margin: auto;
    border: black solid 1px;
    border-bottom: black solid 3px;
    border-radius: 10px;
}

.browser-info-block{
    padding: 10px;
}

.browser-info-block-inner:hover{
    background-color: rgba(79, 195, 247,.5);
    transition: 1s;
}

.button-block{
    width: 110px;
    margin: auto ;
    padding: 10px;
}


.button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    width: 110px;
    height: 40px;
    padding: 5px;
    background-color: #ffffff;
    border: black solid 1px;
    border-bottom: black solid 3px;;
    border-radius: 10px;
    outline: 0;
}

.button:hover{
    background-color: rgba(79, 195, 247,.5);
    transition: 1s;
    cursor: pointer;
}