body{
	margin: 0px;
	font-family: Verdana;
	font-size: 15pt;
}

::-webkit-scrollbar {
    width: 0px;
}

.content{
	min-width: 750px;
}

.content-inner{
	padding: 10px;
}

.task{
	padding:10px;
	border-radius: 5px;
	border: black solid 2px;
}

.button-container{
	height: 40px;
	width: 260px;
	margin: auto;
}

.button{
	background-color: white;
	width: 120px;
	height: 35px;
	margin-left: 5px;
	padding: 5px;
	text-align: center;
	border: black solid 1px;
	border-bottom: black solid 3px;
	border-radius: 10px;	
	font-family: Verdana;
	font-size: 12pt;
	outline: none;
	cursor: pointer;
}

.button:active{
	background-color: blue;
	transition: .7s;
}

.tsk2{
	margin-top: 10px;
}

#p-2{
	cursor: pointer;
}

.tsk3{
	margin-top: 10px;
}

.rect-container{
	padding-top: 10px;
	padding-left: 5px;
	width: 115px;
	height: 160px;
}

#rectangle{
	border:black solid 2px;
	width: 100px;
	height: 150px;
	background-color: rgba(211,211,211,.5);
}

.flex-block{
	display: flex;
}

.blocks-container{
	position: relative;
	width: 600px;
	height: 370px;
	border:red solid 2px;
	border-radius: 10px;
}

.block{
	position: absolute;
	width: 50px;
	height: 30px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border: black solid 1px;
	background-color: lightgray;
	opacity: .5;
}

.block-one{
	left: 150px;
	top: 50px;
}

.block-two{
	left: 300px;
	top: 150px;
}

.block-three{
	left: 500px;
	top: 300px;
}

.block-four{
	left: 150px;
	top: 300px;
}

.block-five{
	left: 50px;
	top:150px;
}

.main-block{
	left: 10px;
	top: 10px;
	background-color: darkred;
	border-color: darkred;
	opacity: 1;
}

.button-inline-container{
	padding-top: 167.5px;
	padding-right: 10px;
}


