body{
	margin: 0;
}

::-webkit-scrollbar {
    width: 0px;
}

.wrapper{
	min-height:100vh;
	width: 100%; 
	min-width: 480px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

.answers-wrapper{
	display: none;
	opacity: 0;
}

.menu{
	display: flex;
	flex-flow: column;
}

.menu-item{
	font-size: 2.5rem;
	font-family: sans-serif;
	border-radius: 0.25rem;
	margin: 0.625rem;
}

.menu-item a{
	padding-left: 0.625rem;
	padding-right: 0.625rem;
	text-decoration: none;
	color: black;
}

.menu-item span{
	padding-left: 1.507rem;
	padding-right: 1.507rem;
}

.mi-active{
	box-shadow: 0 0 2px black;
	transition: .5s;
}

.mi-active:hover{
	cursor: pointer;
	box-shadow: 0 0.5rem 1rem black;
	transition: .5s;
}

.answer-item{
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	font-family: sans-serif;
	line-height: 2.2rem;
}

.answer-item p:first-letter{
	margin-left: 2rem;
}

.answer-item li{
	margin-left: 4rem;
}

.button-block-inner{
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

@media screen and (min-width:1210px){
	.answer-item{
		font-size: 1.5rem;
		width: 1200px;
	}
}

@media screen and (max-width:1210px){
	.answer-item{
		font-size: 1.2rem;
		width: 900px;
	}
}

@media screen and (max-width:910px){
	.answer-item{
		font-size: 1rem;
		width: 480px;
	}
}
