.collage{
	position: relative;
}

.img img{
	width: 200px;
	height: 140px;
}

.img{
	position: absolute;
}

.img.layer1{
	z-index: 1;
}

.img.layer2{
	z-index: 2;
	top: 100px;
	left: 160px

}

.img.layer3{
	z-index: 3;
	top: 200px;
	left: 320px;
}

.img.layer4{
	z-index: 4;
	top: 320px;
	left: 160px;

}

.img.layer5{
	z-index: 5;
	top: 200px;
}