
.fcolor{
	margin-top: 10%;
	text-align: center;
}

#text{
	display: block;
	font-family: Verdana;
	font-size: 20px;
}

.label-input{
	display: inline-block;
	width: 100px;
	font-family: Verdana;
	font-size: 15px;
	padding-top: 30px;
}

.selector{
	width: 200px;
	border: black solid 1px;
	border-bottom: black solid 3px;
	border-radius: 10px;
	font-family: Verdana;
	font-size: 15px;
	padding: 10px;
	outline: 0;
}

.selector:hover{
	background-color: rgba(255, 255, 255,.5);
    transition: .6s;
    border: white solid 1px;
	border-bottom: white solid 3px;
}