body{
	margin: 0px;
}

.content-inner p{
	text-align: left;
	text-indent: 2em;
}

.content-inner p:first-letter{
	font-size: 140%;
	color: darkred;
}

.wrapper{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #1d4663;
	font-family: Verdana;
	font-size: 16px;
}

.sidebar{
	width: 60px;
	height: 100%;
	position: absolute;
	transition: .5s;
}

.sidebar-inner{
	height: 100%;
	background-color: rgba(0,0,0,.8);
}

.menu{
	padding: 9px;
}

.menu a{
	text-decoration: none;
}

a.a-menu{
	display: block;
	margin-top: 10px;
}

.menu-item{
	width: 40px;
	height: 20px;
	margin: 0px;
	padding-top: 9px;
	padding-bottom: 9px;
	text-align: center;
	color: white;
	border: white solid 1px;
	border-bottom: white solid 3px;
	border-radius: 10px;
	transition: .4s;
}

.menu-item:hover{
	border: #1e88e5 solid 3px;
	border-bottom: #1e88e5 solid 1px;
}

.menu-item:active{
	background-color: rgba(30, 136, 229,.6);
}

.menu-item-text{
	opacity: 0;
	font-size: 0px;
}

.menu-item-number{
	opacity: 1;
}

.sidebar:hover{
	width: 170px;
	background-color: rgba(0,0,0,1);
	transition: .4s;
}

.sidebar:hover .menu-item{
	width: 150px;
	transition: .4s;
}

.sidebar:hover .menu-item .menu-item-number{
	opacity: 0;
	font-size: 0;
	transition: .4s;
}

.sidebar:hover .menu-item .menu-item-text{
	opacity: 1;
	font-size: 15px;
	transition: .4s;
}

.sidebar:hover ~ .content .content-inner{
	padding-left: 180px;
	transition: .4s;
}

.content{
	height: 100%;
	width: 100%;
}

.content-inner{
	padding: 10px; 
	padding-left: 70px;
	transition: .5s;
	color: white;
}
