
.question-block{
	border: white solid 1px;
	border-bottom: white solid 3px;	
	border-radius: 10px;
}

.question{
	display: none;
	line-height: 1.5;
}

.question-text{
	color: red;
}

.button-block{
	padding-top: 10px;
	width: 310px;
	margin: auto;
}

.button{
	width: 150px;
	height: 40px;
	border: white solid 1px;
	border-bottom: white solid 3px;
	background-color: rgba(0,0,0,.5);
	font-size: 15px;
	font-family: Verdana;
	color: white;
	border-radius: 10px;
	outline: none;
}

.button:active{
	background-color: rgba(0,0,0,1);
	transition: .4s;
}

.button:hover{
	border: #1e88e5 solid 3px;
	border-bottom: #1e88e5 solid 1px;
	transition: .4s;
}