.table{
	table-layout: fixed;
	border-collapse: collapse;
	margin: auto;
}

.table th,td{
	padding: 5px;
}

.table.first-tab{
	width: 50%;
}

.first-tab-item{
	border: black solid 1px;
}

.table.second-tab{
	width: 70%;
	caption-side: bottom;
}

.second-tab-item{
	border: black solid 2px;
}

th.second-tab-item{
	background-color: white;
	color: black;
}

.second-tab-item.img{
	text-align: center;
	background-color: white;
}

.table.third-tab{
	width: 40%;
}

.diagram-item{
	margin-left: 10%;
    margin-right: 10%;
}

.diagram-item.jul{
	background-color: blue;
    height: 100px;
    margin-top: 50px;
}

.diagram-item.aug{
	background-color: red;
    height: 150px;
}

.diagram-item.sep{
	background-color: green;
    height: 50px;
    margin-top: 100px;
}
