.red-text{
	color: darkred;
}

.big-text{
	font-size: 24px;
}

.shipping{
	width: 200px;
}

.shipping.img-middle{
	vertical-align: middle;
}

.shipping.img-top{
	vertical-align: top;
}

.shipping.img-bottom{
	vertical-align: bottom;
}

.video{
	width: 60px;
	vertical-align: middle;
}