body{
	margin: 0px;
}

.content{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #dbdbdb;
}

.menu{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.menu a{
	text-decoration: none;
}

.menu-item{
	width: 300px;
	height: 100px;
	background-color: rgb(1,1,1,.6);
	border:black solid 5px;
	border-bottom: black solid 10px;
	border-radius: 20px;
	margin-top: 20px;
	text-align: center;
	transition: .5s;
}

.text{
	display: block;
	padding-top: 38px;
	padding-bottom: 38px;
	font-family: Verdana;
	font-size: 20px;
	color: white;
}

.menu-item:hover{
	cursor: pointer;
	border:black solid 10px;
	border-bottom: black solid 5px; 
	background-color: rgb(1,1,1,.8);
	transition: .5s;
}

.menu-item:active{
	background-color: rgb(1,1,1,1);
}