body{
	margin: 0px;
	font-family: 'Alegreya', serif;
	font-size: 1rem;
}

::-webkit-scrollbar {
    width: 0px;
}

.content-inner{
	padding: 10px;
	min-width: 520px;
}

.task{
	border: black solid 2px;
	border-radius: 5px;
	width: 80%;
	margin: auto;
}

.task-text{
	display: block;
	background-color: darkred;
	color: white;
	font-size: 1.5rem;
	padding: 5px;
	text-align: center;
	border-top-left-radius: 2.5px;
	border-top-right-radius: 2.5px;
}

.window-container{
	position: relative;
}

.window-one-container{
	height: 205px;
}

.window-two-container{
	height: 430px;
}

.window{
	position: absolute;
	width: 150px;
	height: 150px;
	border: black solid 2px;
	border-radius: 5px;
	text-align: center;
	background-color: white;
}

.window:hover{
	cursor: pointer;
}

.window-header{
	display: block;
	padding: 5px;
	background-color: darkblue;
	color: white;
	border-top-left-radius: 2.5px;
	border-top-right-radius: 2.5px;
}

.window-content{
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
}

#window-one{
	left: 10px;
	top: 10px;
}

.task-two{
	margin-top: 20px;
}

.task-two ul{
	list-style-type: none;
}

.task-two ul:hover{
	cursor: pointer;
}

.task-two li{
	padding: 5px;
	border: black solid 2px;
	margin-top: 5px;
	width: 300px;
	text-align: center;
	border-radius: 5px;
	background-color: white;
}

.task-three{
	margin-top: 20px;
}

#window-two{
	left: 30px;
	top: 10px;
}

#window-three{
	left: 220px;
	top: 10px;
}

.area{
	position: absolute;
	width: 150px;
	height: 150px;
	border: black solid 2px;
	border-radius: 5px;
	text-align: center;
}

#area-one{
	left: 30px;
	top: 260px;
}

#area-two{
	left: 220px;
	top: 260px;
}

.area-content{
	display: block;
	padding-top: 65px;
	padding-bottom: 65px;
}